/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Header Styles */
  header {
    background-color: #1e56a0;
    color: #fff;
    padding: 50px 0;
  }
  
  .header-content {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
  }
  
  .header-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .header-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .header-buttons .btn {
    display: inline-block;
    background-color: #fff;
    color: #1e56a0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .header-buttons .btn:hover {
    background-color: #1e56a0;
    color: #fff;
  }
  
  /* Main Content Styles */
  main {
    max-width: 1024px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* About Section Styles */
  .about p {
    line-height: 1.6;
  }
  
  /* Info Section Styles */
  .info table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .info td:first-child {
    font-weight: bold;
  }
  
  /* Education Section Styles */
  .degree-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .degree {
    background-color: #1e56a0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .degree-info {
    text-align: left;
  }
  
  .degree-info .highlight {
    color: #1e56a0;
    font-weight: bold;
  }
  
  /* Contact Section Styles */
  .contact form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }
    .radio-group label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    }
    .radio-group input[type="radio"] {
    margin-right: 5px;
    }
    
  #hourly_wage {
    display: none;
  }
  
  .btn {
    display: inline-block;
    background-color: #1e56a0;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #163172;
  }